{
  "presets": ["@babel/react", "@babel/env"],
  "plugins": [
    "@babel/plugin-transform-react-jsx",
    ["@babel/plugin-transform-react-constant-elements", {
      "messagesDir": "./assets/app/locales/",
      "enforceDescriptions": false,
      "allowMutablePropsOnTags": ["FormattedMessage"]
    }],
    "@babel/plugin-proposal-object-rest-spread"
  ]
}
