{
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "prettier"
  ],
  "extends": [
    "plugin:you-dont-need-lodash-underscore/compatible",
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "globals": {
    "__DEV__": true,
    "__SERVER__": true,
    "sails": true,
    "User": true,
    "Passport": true,
    "passport": true,
    "Role": true,
    "Feed": true,
    "Stream": true,
    "socialFeed": true,
    "twitterStreaming": true,
    "Message": true
  },
  "rules": {
    "strict": ["warn", "never"],
    "semi": ["warn", "never"],
    "indent": ["error", 2, {
      "SwitchCase": 1
    }],
    "quotes": ["error", "single"],
    "no-labels": "error"
  }
}
