{
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "globals": {
    "__DEV__": true,
    "__SERVER__": true
  },
  "rules": {
    "strict": ["warn", "never"],
    "semi": ["warn", "never"],
    "indent": ["error", 2, {"SwitchCase": 1}],
    "quotes": ["error", "single"],
    "no-labels": "error"
  }
}
