<!DOCTYPE html>
<html>
  <head>
    <title>Social Feed CRo</title>
    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--STYLES-->
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
    <meta name="csrf-token" content="<%= _csrf %>">
  </head>

  <body>
    <div id="app"></div>
    <%- body %>
    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->
    <!--SCRIPTS-->
    <script src="/browserify/vendor.js"></script>
    <script src="/browserify/debug.0.1.0.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
