<div class="login-confirm-wrapper">
  <div class="login-confirm">
    <%= __('You have been authenticated') %>
  </div>
</div>
<script>
  setTimeout(window.close, 3000);
</script>
<style>
  .login-confirm-wrapper {
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
  }

  .login-confirm {
    font-size: 24px;
  }
</style>