// vars
//
$background-color: #eee; //
// Base structure
//

body,
html {
  background-color: $background-color;
  height: 100%;
}

.user-name {
  clear: left;
  float: left;
}

.user-picture {
  clear: left;
  display: block;
  float: left;
  height: 24px;
  width: 24px;
}

.user-handle {
  clear: left;
  float: left;
  font-size: 0.8em;
}

.table {
   > tbody,
   > thead,
  > tfoot {
     > tr > th,
    > tr > td {
      vertical-align: middle;
    }
  }
}

tr .form-group {
    margin: 0;
}

.multiselect-native-select {
  select {
    display: none;
  }
}

.checkbox .checkbox-material .check,
label.checkbox-inline .checkbox-material .check {
  border: 2px solid rgba(0, 0, 0, .54);
}